In [ ]:
"""
OBJETIVO: Análisar a rentabilidade da Selic, pegando dados direto do Banco Central, criando uma calculadora de retorno desde 1995 e avaliando janelas de retorno.

ENUNCIADO 1:
    - O fundo mais lucrativo da principal empresa de gestão de ativos de Gotham City segue uma regra simples: o lucro é o juro composto calculado com a taxa de juros SELIC. Seu desafio é criar um programa que calcule uma série que contenha o lucro total, dado um valor inicial de capital em um determinado período de tempo (data de início, data de término) com diferentes frequências (frequência). 
    
    - Sua solução deve seguir as restrições abaixo:
        • A data de início deve ser maior ou igual a 01/01/1995. 
        • A data de término deve ser posterior à data de início. 
        • A frequência deve ser: dia, mês ou ano. (D, ME, Y)

ENUNCIADO 2:
    - Depois de desenvolver sua solução, responda a esta pergunta:
    
    - Qual foi o período mais lucrativo de 500 dias corridos desde 01/01/2001 até 31/01/2001?
    - Ou seja, se voçê tivesse que investir um valor C de capital por 500 dias, qual teria sido 
    o período mais lucrativo desde o início de 2001 até o final de marõ de 2022?
    - Sua resposta deve ser a data de início e término do período encontrado.
    
    Passo a passo:
        - Passo 1: Filtrar dados da selic no período da questão.
        - Passo 2: Calcular a rentabilidade das janelas de 500 dias.
        - Passo 3: Criar o range de datas na tabela.
        - Passo 4: Pegar o maior retorno da tabela. 
"""

OBJETIVO 1:

In [ ]:
!pip install python-bcb matplotlib numpy

In [3]:
# Instalando e Importando os Módulos e Bibliotecas:
from datetime import datetime, date
from matplotlib import pyplot as plt
import numpy as np
from bcb import sgs

In [7]:
# Colentando os dados do usuário:
capital: float = float(input('Digite o valor do capital: '))
frequencia: str = input('Digite a frequência do período (Y, ME, D): ')
inicio: str = input('Digite a data inicial maior que 01/01/1995 no formato DD/MM/YY: ')
final: str = input('Digite a data final no seguinte formato DD/MM/YY: ')

In [8]:
# Tratando os dados coletado:
data_inicial: date = datetime.strptime(inicio, '%d/%m/%Y').date()
data_final: date = datetime.strptime(final, '%d/%m/%Y').date()

print(f'Data Inicial: {data_inicial}')
print(f'Data Final: {data_final}')

Data Inicial: 2001-09-18
Data Final: 2021-09-18

In [9]:
# Pegando Dados da Selic do Banco Central
taxas_selic = sgs.get({'selic': 11}, start=data_inicial, end=data_final)

print(taxas_selic)

               selic
Date
2001-09-18  0.069253
2001-09-19  0.069253
2001-09-20  0.069253
2001-09-21  0.069253
2001-09-24  0.069286
...              ...
2021-09-13  0.019930
2021-09-14  0.019930
2021-09-15  0.019930
2021-09-16  0.019930
2021-09-17  0.019930

[5025 rows x 1 columns]

In [10]:
# Convertendo as taxas selic para decimal (Por padrão vem em %)
# Basicamente essa informação convertida nos diz quanto dinheiro era rendido por dia durante o periodo.
taxas_selic = taxas_selic/100

print(taxas_selic)

               selic
Date
2001-09-18  0.000693
2001-09-19  0.000693
2001-09-20  0.000693
2001-09-21  0.000693
2001-09-24  0.000693
...              ...
2021-09-13  0.000199
2021-09-14  0.000199
2021-09-15  0.000199
2021-09-16  0.000199
2021-09-17  0.000199

[5025 rows x 1 columns]

In [11]:
# Calculando o retorno do período:
capital_acumulado = capital * (1 + taxas_selic['selic']).cumprod() - 1

print(capital_acumulado)

Date
2001-09-18    100068.253000
2001-09-19    100137.553960
2001-09-20    100206.902913
2001-09-21    100276.299892
2001-09-24    100345.778022
                  ...
2021-09-13    912953.233823
2021-09-14    913135.185602
2021-09-15    913317.173643
2021-09-16    913499.197955
2021-09-17    913681.258545
Name: selic, Length: 5025, dtype: float64

In [12]:
# Comprimindo o capital acumulado na frequência informada: (Por padrão vem como Diária)
capital_com_frequencia = capital_acumulado.resample(frequencia).last()

print(capital_com_frequencia)

Date
2001-09-30    100624.374378
2001-10-31    102168.910996
2001-11-30    103592.585613
2001-12-31    105036.205320
2002-01-31    106647.433402
                  ...
2021-05-31    901623.558119
2021-06-30    904398.568882
2021-07-31    907614.760063
2021-08-31    911498.924193
2021-09-30    913681.258545
Freq: ME, Name: selic, Length: 241, dtype: float64

OBJETIVO 2:

In [13]:
# Definindo as datas em questão:
data_inicial2 = date(2000, 1, 1)
data_final2 = date(2022, 3, 31)

In [15]:
# Obtendo os rendimentos da Taxa Selic durante o período informado e Convertendo eles para decimal (Por padrão vem em %)
selic_questao_2 = sgs.get({'selic': 11}, start=data_inicial2, end=data_final2) / 100

print(selic_questao_2)

               selic
Date
2000-01-03  0.000692
2000-01-04  0.000692
2000-01-05  0.000692
2000-01-06  0.000693
2000-01-07  0.000693
...              ...
2022-03-25  0.000437
2022-03-28  0.000437
2022-03-29  0.000437
2022-03-30  0.000437
2022-03-31  0.000437

[5588 rows x 1 columns]

In [54]:
# Calculando a rentabilidade das janelas de 500 dias.
# Importante notar que essa janela se basea em cada intervalo possível de 500 dias no range de datas informadas:
# Exemplo: Primeira janela -> 01/01/2000 + 500 dias | Segunda janela -> 02/01/2000 + 500 dias | Terceira Janela -> 03/01/2000 + 500 dias | etc
janelas_500_dias = ((1 + selic_questao_2).rolling(window=500).apply(np.prod) - 1)

print(janelas_500_dias)

               selic
Date
2000-01-03       NaN
2000-01-04       NaN
2000-01-05       NaN
2000-01-06       NaN
2000-01-07       NaN
...              ...
2022-03-25  0.086543
2022-03-28  0.086864
2022-03-29  0.087185
2022-03-30  0.087506
2022-03-31  0.087826

[5588 rows x 1 columns]

In [55]:
# Transformando o indice de data em uma coluna da tabela:
janelas_500_dias = janelas_500_dias.reset_index()

print(janelas_500_dias)

           Date     selic
0    2000-01-03       NaN
1    2000-01-04       NaN
2    2000-01-05       NaN
3    2000-01-06       NaN
4    2000-01-07       NaN
...         ...       ...
5583 2022-03-25  0.086543
5584 2022-03-28  0.086864
5585 2022-03-29  0.087185
5586 2022-03-30  0.087506
5587 2022-03-31  0.087826

[5588 rows x 2 columns]

In [56]:
# Adicionando a coluna de data inicial na tabela baseado na coluna 'Date':
# Basicamente para cada linha que contem o valor de 'selic' estou pegando o valor de 'Date' de 500 linhas anteriorres.
# OBS: Estou pegando apenas das linhas que contenham o valor de selic pois apenas elas tem 500 ou mais linhas anteriores.
# janelas_500_dias['data_incial'] = janelas_500_dias['Date'].shift(500)  # -> Adicionando a coluna no final da tabela.
janelas_500_dias.insert(0, 'data_incial', janelas_500_dias['Date'].shift(500))  # -> Adicionando a coluna no inicio da tabela.

print(janelas_500_dias)

     data_incial       Date     selic
0            NaT 2000-01-03       NaN
1            NaT 2000-01-04       NaN
2            NaT 2000-01-05       NaN
3            NaT 2000-01-06       NaN
4            NaT 2000-01-07       NaN
...          ...        ...       ...
5583  2020-03-27 2022-03-25  0.086543
5584  2020-03-30 2022-03-28  0.086864
5585  2020-03-31 2022-03-29  0.087185
5586  2020-04-01 2022-03-30  0.087506
5587  2020-04-02 2022-03-31  0.087826

[5588 rows x 3 columns]

In [57]:
# Alterando o nome das colunas:
janelas_500_dias.columns = ['data_inicial', 'data_final', 'retorno_selic_500d']

# Removendo as linhas com valores vazios:
janelas_500_dias = janelas_500_dias.dropna()

print(janelas_500_dias)

     data_inicial data_final  retorno_selic_500d
500    2000-01-03 2002-01-02            0.377688
501    2000-01-04 2002-01-03            0.377689
502    2000-01-05 2002-01-04            0.377689
503    2000-01-06 2002-01-07            0.377688
504    2000-01-07 2002-01-08            0.377687
...           ...        ...                 ...
5583   2020-03-27 2022-03-25            0.086543
5584   2020-03-30 2022-03-28            0.086864
5585   2020-03-31 2022-03-29            0.087185
5586   2020-04-01 2022-03-30            0.087506
5587   2020-04-02 2022-03-31            0.087826

[5088 rows x 3 columns]

In [58]:
# Modificando o formato dos dados da tabela:

# Alterando o formato das data para DD/MM/YYYY
janelas_500_dias['data_inicial'] = janelas_500_dias['data_inicial'].dt.strftime('%d/%m/%Y')
janelas_500_dias['data_final'] = janelas_500_dias['data_final'].dt.strftime('%d/%m/%Y')

# Transformando os valores da linha para % e arredondando para 4 casas decimais:
janelas_500_dias['retorno_selic_500d'] = round(janelas_500_dias['retorno_selic_500d'] * 100, 4)

print(janelas_500_dias)

     data_inicial  data_final  retorno_selic_500d
500    03/01/2000  02/01/2002             37.7688
501    04/01/2000  03/01/2002             37.7689
502    05/01/2000  04/01/2002             37.7689
503    06/01/2000  07/01/2002             37.7688
504    07/01/2000  08/01/2002             37.7687
...           ...         ...                 ...
5583   27/03/2020  25/03/2022              8.6543
5584   30/03/2020  28/03/2022              8.6864
5585   31/03/2020  29/03/2022              8.7185
5586   01/04/2020  30/03/2022              8.7506
5587   02/04/2020  31/03/2022              8.7826

[5088 rows x 3 columns]

In [59]:
# Pegando o maior retorno da tabela:
maior_retorno = janelas_500_dias['retorno_selic_500d'].max()

print(maior_retorno)

46.6967

In [60]:
# Encontrando a linha que corresponde ao maior retorno:
resposta_quetao_2 = janelas_500_dias[janelas_500_dias['retorno_selic_500d'] == maior_retorno]

print(resposta_quetao_2)

    data_inicial  data_final  retorno_selic_500d
956   26/10/2001  22/10/2003             46.6967